{% load i18n %}
{% trans "You're receiving this email because you requested a password reset for your account at CCB Gate Entry." %}

{% trans "Please go to the following page and choose a new password:" %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "If you didn't request this, you can ignore this email. Your password won't change." %}

{% trans "Thanks," %}
{% trans "CCB Gate Entry team" %}
